{#
/**
 * @file nbox_thread.html.twig
 * Default theme implementation to present nbox thread data.
 *
 * This template is used when viewing nbox thread pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_nbox_thread()
 *
 * @ingroup themeable
 */
#}

<div id="nbox-thread" {{ attributes.addClass('nbox_thread') }}>
    {% if subject_per_message == false %}
        <h1 id="thread-subject">
            {{ content.thread_subject }}
        </h1>
    {% endif %}
    <div id="actions">
        {{ actions }}
    </div>
    <div id="messages">
        {{ messages }}
    </div>
    <div id="reply-wrapper">
        <div id="reply">
            {{ reply }}
        </div>
    </div>
</div>
