{#
/**
 * @file nbox.html.twig
 * Default theme implementation to present nbox data.
 *
 * This template is used when viewing nbox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_nbox()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('nbox-message') }}>
  {% if avatar %}
    <div class="nbox-avatar"><img src="{{ avatar }}"></div>
  {% endif %}
  <div class="nbox-date">{{ relative_date }}</div>
  <div class="nbox-main">
    <div class="sender">
        {{ relative_sender }}
    </div>
    <div class="recipients">
        <span class="label">{{ 'to'|t }}:</span> <span class="recipient-list">{{ recipients_to }}</span>
        {% if recipients_cc %}
          <span class="label">{{ 'cc'|t }}:</span> <span class="recipient-list">{{ recipients_cc }}</span>
        {% endif %}
        {% if recipients_bcc %}
          <span class="label">{{ 'bcc'|t }}:</span> <span class="recipient-list">{{ recipients_bcc }}</span>
        {% endif %}

    </div>
    <div class="message-content">
        {{ content }}
    </div>
  </div>
</div>
