{{ attach_library('banana_dashboard/banana_dashboard') }}
<div id="banana_dashboard">
    {% for group, menu_items in dashboard_menu %}
        <div class="banana-dashboard-group banana-dashboard-group-group-{{ group }}">
            <h4>{{ group }}</h4>
            <ul class="banana_dashboard_menu menu inline">
                {% for menu_item in menu_items %}
                <li class="dashboard-menu-item">
                    <a href="{{ menu_item['url'] }}"  class="banana-dashboard-menu-link">
                            <i class="fa fa-{{ menu_item['icon'] }}"></i>
                        <div class="title">{{ menu_item['title'] }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
