{#
/**
 * @file
 * Default theme implementation to display modal.
 *
 * Available Variables:
 * - id: Id of modal.
 * - modal_size: size of modal to show.
 * - title: Title of modal.
 * - text: Text(Body) of modal.
 * - do_not_show_again: Do not show again variable for modal.
 * - delay_display: Delay to display variable for modal.
 * - button: Button text for modal.
 *
 * @ingroup templates
 * @see modal_page_preprocess_html()
 */
#}
<div class="modal fade" id="js-modal-page-show-modal" role="dialog" style="display: none;" data-modal-id="{{ id }}">
    <div class="modal-page-dialog modal-dialog {{ modal_size }}">
      <div class="modal-page-content modal-content">
        <div class="modal-page-content modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-page-title">{{ title|raw }}</h4>
        </div>
        <div class="modal-body modal-page-body">
          {{ text|raw }}
        </div>
        <div class="modal-footer modal-page-footer">
          {% if do_not_show_again %}
              <input type="checkbox" class="modal-page-please-do-not-show-again" value="{{ id }}"> {{ do_not_show_again }}
          {% endif %}
          <input type="hidden" id="delay_display" name="delay_display" value="{{ delay_display|raw }}" />
          <button type="button" class="btn btn-default js-modal-page-ok-buttom" data-dismiss="modal">{{ button }}</button>
        </div>
      </div>
    </div>
  </div>
