{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
{# Structuring the output of the view in 2 different columns. #}
<div class="row">  
{# Looping through the rows and printing the field.title #}
  <div class="view-title-section">
    {% for row in rows %}
      <div{{ row.attributes.addClass(row_classes) }}>
        <span class="pointer-click">{{- row.content['#row']._entity.fields.title.value -}}</span>
      </div>
    {% endfor %}
  </div>
{# Looping through the rows and printing the rest #}
  <div class="view-content-section">
    {% for row in rows %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
</div>
